.navigation{
    min-width: 296px;
    min-height: 100vh;
    padding: 32px;
    ul li a{
        position: relative;
        &:hover{
            color: $success;
            ::before{
                content: "";
                position: absolute;
                width: 4px;
                height: 32px;
                background: $success;
                left: -32px;
                top: -4px;
            }
        }
    }
    .link-active{
        ::before{
            content: "";
            position: absolute;
            width: 4px;
            height: 32px;
            background: $success;
            left: -32px;
            top: -4px;
        }
    }
    .account{
        &:hover{
            opacity: 0.8;
            transition: all 0.3s;
        }
        &-photo{
            width: 40px;
            height: 40px;
        }
    }
}