.admin{
    margin-left: 296px;
    padding: 32px;
    .container-fluid{
        margin-left: -12px;
        margin-right: -12px;
    }
    a:hover{
        color: $primary !important;
        transition: all 0.3s;
    }
}

.pagination a:hover{
    background: $success;
    color: #fff !important;
    opacity: 1;
}

.modal-content{
    .container{
        margin-left: -12px;
        margin-right: -12px;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.view-photo{
    width: 160px;
    height: 160px;
    object-fit: cover;
}