.fs-c-14{
    font-size: 14px;
}
.fs-c-12{
    font-size: 12px;
}


.mb-c-20{
    margin-bottom: 20px;
}
.mb-c-32{
    margin-bottom: 32px;
}
.mb-c-41{
    margin-bottom: 41px;
}
.mb-c-64{
    margin-bottom: 64px;
}

.me-c-9{
    margin-right: 9px;
}

.p-c-12{
    padding: 12px;
}
.py-c-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-c-32{
    padding-left: 32px;
    padding-right: 32px;
}
.pe-c-32{
    padding-right: 32px;
}
.pb-c-22{
    padding-bottom: 22px;
}

.roboto-mono{
    font-family: "Roboto Mono";
}

